<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fipla</title>
</head>
<body>
    <h1>Welcome to Fipla</h1>
    <h2>How to use?</h2>
    <p>We don't store any of your data. You own your data, you can own our code (being open source and all). Just make sure you follow the steps to make the best use of fipla</p>
    <ol>
        <li>Download the repository</li>
        <li>Copy your transaction lists to the "transactions" folder</li>
        <li>Choose the command to run depending on your Operating System:</li>
        <ol>
            <li>Mac:</li>
            <ul>
                <li>Open terminal</li>
                <li><command>python app.py</command></li>
                <li>Go to http://127.0.0.1:8001/ and start interacting with the application</li>
            </ul>
        </ol>
    </ol>
</body>
</html>